<h1>Contacts</h1>

<% contacts = Contact.all %>

<p>There are <%= Contact.all.count%> contacts:</p>



<ul>
    <% for contact in contacts %>
        <% companyname = Company.find_by({"id" => contact["company_id"]})%>
        <li><%=contact["first_name"]%> <%=contact["last_name"]%> - <%=companyname["name"]%></li>
    <% end %>
</ul>